* {
    box-sizing: border-box;
}

body {
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.instructions { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


.header{
    font-size: 50px;
    font-family: "Lemon", Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px red,
    0 0 1em rgb(255, 255, 255),
    0 0 0.2em rgba(0, 0, 255, 0.5);
    display: flex;
    justify-content: center;
    margin: 0;
    border: 0;
    padding: 15px;
}


.slider {
    cursor: pointer;
    width: 350px;
    color: blue;
}

.gridSliderOutput {
    color: rgb(255, 255, 255);
    font-family: 'Lemon', Times, serif;
    font-size: 35px;
    font-weight: 900;
    width: 350px;
    text-align: center;
    padding: 7px;
    text-shadow: 1px 1px 2px red,
    0 0 1em rgb(255, 255, 255),
    0 0 0.2em rgba(0, 0, 255, 0.5);
}

.container {
    border-radius: 25px;
    width: 730px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgb(109, 0, 0);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.527),
    0 6.7px 5.3px rgb(49, 49, 49),
    0 12.5px 10px rgb(88, 88, 88),
    0 22.3px 17.9px rgba(0, 0, 0, 0.623),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.buttonContainer {
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderContainer {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridCover {
    border-radius: 2%;
    height: 650px;
    width: 650px;
    border: black;
    border-width: 25px;
    border-style: solid;
}

.mainGrid {
    box-shadow: rgb(114, 114, 114) 0px 0px 10px 5px inset;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    flex: 1;
    height: 600px;
    width: 600px; 
    color: black;
    background-color: white;
}

.square {
    height: 60px;
    width: 60px;
    flex-grow: 1;
    aspect-ratio: 1/1;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(146, 146, 146);
}



/* Buttons */
.clearButton, .removeGridLines {
    appearance: button;
    background-color: #00000085;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 6px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 6px 6px 0 6px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 160px;
}

.clearButton:hover {
    background-color: rgba(255, 0, 0, 0.555);
}

.removeGridLines:hover {
    background-color: rgba(255, 0, 0, 0.555);
}

.clearButton:after {
    background-clip: padding-box;
    background-color: #526379;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.removeGridLines:after {
    background-clip: padding-box;
    background-color: #526379;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

.clearButton:main,
.clearButton:focus {
    user-select: auto;
}

.removeGridLines:main,
.removeGridLines:focus {
    user-select: auto;
}

.clearButton:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.removeGridLines:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.clearButton:disabled {
    cursor: auto;
}

.removeGridLines:disabled {
    cursor: auto;
}

.clearButton:active {
    border-width: 4px 0 0;
    background: none;
}

.removeGridLines:active {
    border-width: 4px 0 0;
    background: none;
}

#colour {
    border: solid transparent;
    border-radius: 16px;
    box-sizing: border-box;
    color: #ffffff;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
}

.changeColour {
    width: 35px;
    height: 35px;
    border: none;
}

/* Confetti and Gradient Toggles */

.modeInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modeInput .mode {
    box-sizing: border-box;
    color: #ffffff;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    outline: none;
    overflow: visible;
    padding: 2px 16px;
    text-align: center;
    text-transform: uppercase;
}

.confettiMode, .gradientMode {
    position: relative;
    display: flex;
    width: 40px;
    height: 24px;
}

.confettiMode {
    margin-right: 20px;
}

.confettiMode input {
    opacity: 0;
    width: 0;
    height: 0;
}

.gradientMode input {
    opacity: 0;
    width: 0;
    height: 0;
}

.confirmConfetti, .confirmGradient {
    border-radius: 50px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff0000ad;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: inset 0 0 10px #000000;
}

.confirmConfetti:before {
    box-shadow: inset 0 0 10px #000000;
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    top: 9%;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
}

.confirmGradient:before {
    box-shadow: inset 0 0 10px #000000;
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    top: 9%;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .confirmConfetti {
    box-shadow: inset 0 0 10px #000000;
    background-color: #21f344c0;
}
  
input:focus + .confirmConfetti {
    box-shadow: 0 0 1px #21f344c0;
    box-shadow: inset 0 0 10px #000000;
}
  
input:checked + .confirmConfetti:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
    box-shadow: inset 0 0 10px #000000;
}

input:checked + .confirmGradient {
    background-color: #21f344c0;
    box-shadow: inset 0 0 10px #000000;
}
  
input:focus + .confirmGradient {
    box-shadow: 0 0 1px #21f344c0;
    box-shadow: inset 0 0 10px #000000;
}
  
input:checked + .confirmGradient:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
    box-shadow: inset 0 0 10px #000000;
}